html,body{
	margin: 0;
	padding: 0;
	border: 0;
}

/* Text Style */

h1{
	color: rgb(240,240,240);
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	padding-left: 6px;
	padding-right: 6px;
}

h2{
	color: rgb(80,80,80);
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	border-top-width: thick;
	border-top-style: solid;
	border-top-color: rgb(80,80,80);
	padding-left: 6px;
	padding-right: 6px;
}

h3{
	color: rgb(40,40,40);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: bold;
	border-top-width: medium;
	border-top-style: solid;
	border-top-width: rgb(40,40,40);
	margin-top: 48px;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;

}

h4{
	color: rgb(20,20,20);
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-style: bold;
	padding-left: 18px;
	padding-right: 6px;
}

p{
	color: rgb(20,20,20);
	font-family: 'Segoe UI', sans-serif;
	font-size: 14px;
	padding-left: 18px;
	padding-right: 6px;
}

a:link, a:visited{
	color: rgb(80,80,80);
	text-decoration: none;
}

p a:hover{
	color: rgb(40,40,40);
	text-decoration: none;
	border-bottom: 1px dotted;
}

/* Page Structure */

html,body{
	margin: 0;
	padding: 0;
	border: 0;
}

#header{
	position: absolute;
	height: 120px;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(40,40,40);
	z-index: -1;
}

#miniheader{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height:120px;
	top: 0;
	background-color: rgb(40,40,40);
	z-index: -1;
}

#wrapper{
	margin-top: 78px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 12px;
	padding-right: 12px;
	width: 936px;
}

#leftcol{
	float: left;
	width: 288px;
}

#rightcol{
	float: right;
	width: 628px;
}
